{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Welcome to My Library!{% endblock %}

{% block body %}
    <h1>Welcome to the Library documentation system</h1>
    <p>This website allows you to make a list of books and to put their loan status.</p>

{% endblock %}