{% extends 'base.html.twig' %}
{% block title %}Customers{% endblock %}

{% block body %}
    <h1>List of Customers</h1>

    <ul>
        {% for customer in customers %}
            <li>{{ customer.name }} </li>
        {% else %}
            <li>No customers found.</li>
        {% endfor %}
    </ul>
{% endblock %}
